.feature-box {
    background-color: rgba($color-white, .8);
    font: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    // height: 26.2rem;
    

    &:hover {
        transform: translateY(-2.5rem) scale(1.03);

        & .feature-box__icon {
            animation: rotating ease-in 1s;
        }
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary, $color-primary-light);
        -webkit-background-clip: text;
        color: transparent;
    }

}